@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">I Care About Climate Change.</h1>
    <p>Hello World! It's a beautiful day to care about the climate.</p>
</div>

